/*esta es la parte de las variables**/
$fuente-nav: 'Ysabeau', sans-serif;
$primer-color: #807B00;
$segundo-color: #FFF94D;
$tercer-color: #FFF700;
$cuarto-color: #807D26;
$quinto-color: #CCC500;


a{
    text-decoration: none;
    color: black;
}


body{
    background-color: #ffffff;
    font-family: $fuente-nav;
    font-size: 16px;
    line-height: 1.5;
    color: #333;
    margin: 0;
    padding: 0;
}

.fondo{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr ;
    grid-template-rows: 1fr 1fr;
    margin-top: 50px;

    img{
        height: 320px;
    }
    #pollo{
        transform: rotate(66deg);
    }   
    #los3merengues{
        height: 250px;
    }
}

